extends layout

block content
    
  .contentBox
    form(action="/add", method='POST')
      .contentBoxTitle
        textarea(name="newtitle" id="newtitle" placeholder="Post title:" )
      .contentBoxText
        textarea(name="newtext", id="newtext" placeholder="What is on your mind?")
      input(type="submit" value="Post")

  each value in data
    .contentBox 
      div(id=value.blog_id)
        form(action="/handle_user", method='POST' )
          input(type="hidden" id="id" name="id" value=value.blog_id)
          .contentBoxTitle
            textarea( name="title" id="title" placeholder="Post title:" readonly) #{value.blog_title}
          .contentBoxText
            textarea(name="text", id="text" placeholder="What is on your mind?" readonly) #{value.blog_txt}
        
          button(type="button" id="cancelButton" name="cancelButton" onClick="history.go(0);" hidden) Cancel
          input(type="submit" id="update" name="update" value="Delete" )
          button(type="button" id="edit" name="edit" onclick='clickme('+value.blog_id+')') Edit
            script(src='/javascripts/change.js')
